<div class="card">

    <div class="card-body">
     
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" type="info" >
            <ngb-panel  title="Ficha Empleado" id="config-panel-one">
                <ng-template ngbPanelContent>
                  

                    <div class="container">
                    
                        <form [formGroup]="empleadoForm">
                            <app-card cardTitle="Ficha Empleado" [options]="false">
                              <div class="input-group mb-3">
                                <label class="col-12">Nombre</label>
                      
                                <input type="text" disabled formControlName="nombreEmpleado" class="form-control"/>
                      
                              </div>

                      
                              <div class="input-group mb-3">
                                <label class="col-12">Paises</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones<i class="fa fa-caret-down" aria-hidden="true"></i></label>
                                </div>
                                
                                <select formControlName="pais" class="custom-select" id="inputGroupSelect02"
                                (change)="cambiarDepto($event.target.value)">
                                  <option *ngFor="let paises of listaPaises"  [value]="paises.COD_PAIS" >{{paises.NOMB_PAIS}}</option>
                                </select>
                                
                              </div>

                              <div class="input-group mb-3">
                                <label class="col-12">Departamentos</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02"
                                (change)="cambiarMunic($event.target.value)">
                                  <option *ngFor="let departamento of listaDepartementos"  [value]="departamento.COD_DEPTO" >{{departamento.NOM_DEPTO}}</option>
                                </select>
                                
                              </div>

                              <div class="input-group mb-3">
                                <label class="col-12">Municipios</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02">
                                  <option *ngFor="let municipio of listaMunicipios"  [value]="municipio.COD_MUNI" >{{municipio.NOM_MUNI}}</option>
                                </select>
                                
                              </div>


                              <div class="input-group mb-3">
                                <label class="col-12">Profesion Empleado</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02">
                                  <option *ngFor="let profesion of listaProfesion"  [value]="profesion.COD_PROFESION" >{{profesion.NOM_PROFESION}}</option>
                                </select>
                                
                              </div> 
                              
                                
                              <div class="input-group mb-3">
                                <label class="col-12">Telefono</label>
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-phone" aria-hidden="true"></i></label>
                                </div>
                      
                                <input type="text"  formControlName="telefonos" class="form-control"/>
                      
                              </div>

                              <div class="input-group mb-3">
                                <label class="col-12">Celular</label>
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-mobile" aria-hidden="true"></i></label>
                                </div>
                                <input type="text"  formControlName="cel" class="form-control"/>
                      
                              </div>
                              <div class="input-group mb-3">
                                <label class="col-12">Direccion</label>
                      
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                                </div>
                                <textarea class="form-control" formControlName="dir" rows="3"></textarea>
                      
                              </div>                     
                            </app-card>
                          </form>

                          
                        <div class="card">
                                
                            <div class="card-footer">
                              <button class="btn btn-primary sm" (click)="guardar()">
                                Guardar
                              </button>
                            </div>
                          </div>
                      </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Preparacion Academica">
              <ng-template ngbPanelContent>
                  <div class="container">
                      <form [formGroup]="preparacionForm">
                          <app-card cardTitle="Preparacion Academica" [options]="false">

                            <div class="input-group mb-3">
                              <label class="col-12">Nombre</label>
                              <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                              </div>
                    
                              <input type="text"  formControlName="institucion" class="form-control"/>
                    
                            </div>


                            <div class="input-group mb-3">
                              <label class="col-12">Pais</label>
                              
                              <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Opciones<i class="fa fa-caret-down" aria-hidden="true"></i></label>
                              </div>
                              
                              <select formControlName="pais" class="custom-select"
                              (change)="cambiarDeptoNivel($event.target.value)"
                              >
                                <option *ngFor="let paisesGral of listaPaises"  [value]="paisesGral.COD_PAIS" >{{paisesGral.NOMB_PAIS}}</option>
                              </select>
                              
                            </div>

                            <div class="input-group mb-3">
                              <label class="col-12">Departamentos</label>
                              
                              <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                              </div>
                              
                              <select formControlName="depart" class="custom-select">
                                <option *ngFor="let departamento of listaDepartementosNivel"  [value]="departamento.COD_DEPTO" >{{departamento.NOM_DEPTO}}</option>
                              </select>
                              
                            </div>   
                            
                            

                            <div class="input-group mb-3">
                              <label class="col-12">Nivel Academico</label>
                              
                              <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                              </div>
                              
                              <select formControlName="nivel" class="custom-select">
                                <option *ngFor="let nivel of listaNivelAcademico"  [value]="nivel.COD_NIVEL_ACADEMICO" >{{nivel.NOM_NIVEL_ACADEMICO}}</option>
                              </select>
                              
                            </div> 

                        
                            <div class="input-group mb-3">
                              <label class="col-12">Profesion</label>
                              
                              <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                              </div>
                              
                              <select formControlName="subNivel" class="custom-select">
                                <option *ngFor="let profesion of listaProfesion"  [value]="profesion.COD_PROFESION" >{{profesion.NOM_PROFESION}}</option>
                              </select>
                              
                            </div> 


                            <div class="row">
                              <div class="col-md-3">
                                <div class="input-group mb-3">
                                  <label class="col-12">Año Ingreso</label>
                                  <div class="input-group-append">
                                    <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                                  </div>
                        
                                  <input type="number"  formControlName="anioIng" class="form-control"/>
                        
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group mb-3">
                                  <label class="col-12">Año Egreso</label>
                                  <div class="input-group-append">
                                    <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                                  </div>
                        
                                  <input type="number"  formControlName="anioEgre" class="form-control"/>
                        
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group mb-3">
                                  <label class="col-12">No. Colegiado</label>
                                  <div class="input-group-append">
                                    <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                                  </div>
                        
                                  <input type="text"  formControlName="colegio" class="form-control"/>
                        
                                </div>
                              </div>

                            </div>

                          </app-card>
                      </form>

                      <div class="card">
                        <div class="card-body">
                            <button class="btn btn-primary" (click)="agregarNivelAcademico()">
                                Agregar
                            </button>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-body">
                            <div class="table-responsive-lg">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Pais</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Nivel academico</th>
                                        <th scope="col">Profesion</th>
                                        <th scope="col">Año Ingreso</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of listaNivelAcademicoTBl" >
                                        <th scope="row">{{item.institucion}}</th>
                                        <td>{{item.pais}}</td>
                                        <td>{{item.depart}}</td>
                                        <td>{{item.nivel}}</td>
                                        <td>{{item.subNivel}}</td>
                                        <td>{{item.anioIng}}</td>
                                      </tr>
                                    </tbody>
                                  </table>

                            </div>
                        
                        </div>
                      </div>


                  </div>
              </ng-template>
          </ngb-panel>
        <ngb-panel title="Emergencias">
            <ng-template ngbPanelContent>
                <div class="container">
                    <form [formGroup]="emergenciaForm">
                        <app-card cardTitle="Emergencia" [options]="false">

                          <div class="input-group mb-3">
                            <label class="col-12">Nombre</label>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                            </div>
                  
                            <input type="text"  formControlName="nombreCon" class="form-control"/>
                  
                          </div>

                          <div class="row">
                            <div class="col-md-3 col-xs-3">
                              <div class="input-group mb-3">
                                <label class="col-12">Telefono</label>
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                                </div>
                      
                                <input type="number"  formControlName="telCon" class="form-control"/>
                      
                              </div>
                            </div>

                            <div class="col-md-9 col-xs-9">
                              <div class="input-group mb-3">
                                <label class="col-12">Trabajo/Ocupación</label>
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                                </div>
                      
                                <input type="text"  formControlName="lugaTrabajo" class="form-control"/>
                      
                              </div>
                            </div>

                          </div>


                          <div class="card" >
                            <div class="card-body">
                            <button class="btn btn-primary"  (click)="agregarEmergencia()">
                              Agregar &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            </div>
                          </div>

                          <div class="card" >
                            <div class="card-body">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Trabajo/Ocupación</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of emergencias" >
                                    <td>{{item.nombreCon}}</td>
                                    <td>{{item.telCon}}</td>
                                    <td>{{item.trabajoCon}}</td>
                                  </tr>
                                
                                </tbody>
                              </table>
                            </div>
                          </div>



                        </app-card>
                    </form>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Capacitaciones">
          <ng-template ngbPanelContent>
              <div class="container">
                  <form [formGroup]="capacitacionForm">
                      <app-card cardTitle="Emergencia" [options]="false">

                        <div class="input-group mb-3">
                          <label class="col-12">Institucion</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="text"  formControlName="nombInstitucion" class="form-control"/>
                
                        </div>


                        <div class="input-group mb-3">
                          <label class="col-12">Descripcion</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="text"  formControlName="descripcion" class="form-control"/>
                
                        </div>

                        <div class="input-group mb-3">
                          <label class="col-12">Fecha</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="text"  formControlName="fecha" class="form-control"/>
                
                        </div>


                        <div class="input-group mb-3">
                          <label class="col-12">Horas Recibidas</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="number"  formControlName="horas" class="form-control"/>
                
                        </div>

                        <div class="input-group mb-3">
                          <label class="col-12">Tipo Documento</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="text"  formControlName="documentoValida" class="form-control"/>
                
                        </div>

                        <div class="input-group mb-3">
                          <label class="col-12">Nota</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input type="number"  formControlName="nota" class="form-control"/>
                
                        </div>

                        <div class="input-group mb-3">
                          <label class="col-12">Fecha Capacitacion</label>
                          <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fa fa-male" aria-hidden="true"></i></label>
                          </div>
                
                          <input  type="text"  formControlName="fechaCapacitacion" ngbDatepicker #d2="ngbDatepicker" (focus)="d2.open()" name="date_start" class="form-control"/>

                
                        </div>

                        
                        
                        <div class="card">
                                
                          <div class="card-footer">
                            <button class="btn btn-primary sm" [disabled]="capacitacionForm.invalid" (click)="agregarCapacitacion()">
                              Agregar &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>


                            </button>
                          </div>
                        </div>

                        <div class="card my-2">
                          
                          <div class="card-body">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">Institucion</th>
                                  <th scope="col">Descripcion</th>
                                  <th scope="col">Fecha</th>
                                  <th scope="col">Horas Recibidas</th>
                                  <th scope="col">Tipo Documento</th>
                                  <th scope="col">Nota</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of listaCapacitaciones" >
                                  <td>{{item.NOM_INSTITUCION}}</td>
                                  <td>{{item.DESCRIPCION}}</td>
                                  <td>{{item.FECHA}}</td>
                                  <td>{{item.HORAS_RECIBIDAS}}</td>
                                  <td>{{item.DOCUMENTO_VALIDA}}</td>
                                  <td>{{item.NOTA}}</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>


                      </app-card>
                  </form>
              </div>
          </ng-template>
      </ngb-panel>



















        </ngb-accordion>


    </div>

</div>