<div class="card">

    <div class="card-body">
     
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" type="info" >
            <ngb-panel  title="Ficha Empleado" id="config-panel-one">
                <ng-template ngbPanelContent>
                  

                    <div class="container">
                    
                        <form [formGroup]="empleadoForm">
                            <app-card cardTitle="Ficha Empleado" [options]="false">
                              <div class="input-group mb-3">
                                <label class="col-12">Nombre</label>
                      
                                <input type="text" disabled formControlName="nombreEmpleado" class="form-control"/>
                      
                              </div>

                      
                              <div class="input-group mb-3">
                                <label class="col-12">Paises</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="pais" class="custom-select" id="inputGroupSelect02"
                                (change)="cambiarDepto($event.target.value)">
                                  <option *ngFor="let paises of listaPaises"  [value]="paises.COD_PAIS" >{{paises.NOMB_PAIS}}</option>
                                </select>
                                
                              </div>

                              <div class="input-group mb-3">
                                <label class="col-12">Departamentos</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02"
                                (change)="cambiarMunic($event.target.value)">
                                  <option *ngFor="let departamento of listaDepartementos"  [value]="departamento.COD_DEPTO" >{{departamento.NOM_DEPTO}}</option>
                                </select>
                                
                              </div>

                              <div class="input-group mb-3">
                                <label class="col-12">Municipios</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02">
                                  <option *ngFor="let municipio of listaMunicipios"  [value]="municipio.COD_MUNI" >{{municipio.NOM_MUNI}}</option>
                                </select>
                                
                              </div>


                              <div class="input-group mb-3">
                                <label class="col-12">Profesion Empleado</label>
                                
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                                </div>
                                
                                <select formControlName="depart" class="custom-select" id="inputGroupSelect02">
                                  <option *ngFor="let profesion of listaProfesion"  [value]="profesion.COD_PROFESION" >{{profesion.NOM_PROFESION}}</option>
                                </select>
                                
                              </div>
                      
                              
                      
                      
                        
                              <div class="card">
                                
                                <div class="card-footer">
                                  <button class="btn btn-primary sm" (click)="guardar()">
                                    Guardar
                                  </button>
                                </div>
                              </div>
                      
                            </app-card>
                          </form>



                      </div>





                </ng-template>
            </ngb-panel>
            <ngb-panel title="Generales">
                <ng-template ngbPanelContent>
                    <div class="container">
                        <form [formGroup]="generalesForm">
                            <app-card cardTitle="Datos Generales" [options]="false">
                                

                                
                                <div class="input-group mb-3">
                                    <label class="col-12">Telefono</label>
                          
                                    <input type="text"  formControlName="telefonos" class="form-control"/>
                          
                                  </div>
                                  <div class="input-group mb-3">
                                    <label class="col-12">Celular</label>
                          
                                    <input type="text"  formControlName="cel" class="form-control"/>
                          
                                  </div>
                                  <div class="input-group mb-3">
                                    <label class="col-12">Direccion</label>
                          
                                  
                                    <textarea class="form-control" formControlName="dir" rows="3"></textarea>
                          
                                  </div>
                            </app-card>
                        </form>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>


    </div>

</div>