<div class="row my-5 col-md-12">
</div>
<div class="row my-5 col-md-12">
</div>
<div class="row">
  <app-card cardTitle="Resumen de Montos Anuales" class="col-md-12 col-xl-12" [options]="false" *ngFor="let item of objetoTotales">
    <button type="button" class="btn btn-primary   col-md-4 col-xl-4">DEVENGADO:<span
        class="badge badge-light">{{item.DEVENGADO | number : '1.0-2' }}</span></button>
    <button type="button" class="btn btn-primary  col-md-4 col-xl-4">DEDUCCIONES:<span
        class="badge badge-light">{{item.DEDUCCIONES | number : '1.0-2' }}</span></button>
    <button type="button" class="btn btn-primary  col-md-4 col-xl-4">LIQUIDO:<span
        class="badge badge-light">{{item.LIQUIDO | number : '1.0-2' }}</span></button>
  </app-card>
</div>

<div class="row">

  <app-card class="col-md-12 col-xl-12" [options]="false">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead style="color: white;background-color: blue;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Planilla</th>
            <th style="text-align: center;" scope="col">Año</th>
            <th style="text-align: center;" scope="col">Mes</th>
            <th style="text-align: center;" scope="col"># Planilla</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let planilla of listadoProgramacionesCerradas  | paginate: { itemsPerPage: 10, currentPage: p }  ; index as i">
            <td>{{i+1}}</td>
            <td>{{planilla.NOM_TIPOPLA}}</td>
            <td style="text-align: center;">{{planilla.ANIO}}</td>
            <td style="text-align: center;">{{planilla.MES}}</td>
            <td style="text-align: center;" >{{planilla.NUM_PLANILLA}}</td>
            <td>
              <button class="btn btn-primary" (click)="llenarDetalle(planilla)" data-toggle="modal"
                (click)="myLargeModalLabel.show()">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>

  </app-card>

</div>















<!--modal detalle-->

<app-ui-modal #myLargeModalLabel [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Detalle de Planilla</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="myLargeModalLabel.hide()"><span aria-hidden="true">&times;</span></button>

    <div class="container">

      <div class="row my-2">

          <div class="col-md-8">
            <h6>Tipo Planilla: <span style="color: blue;">{{planilla.NOM_TIPOPLA}}</span> </h6>
          </div>
          <div class="col-md-3">
            <h6>Nº Planilla: <span style="color: blue;">{{planilla.NUM_PLANILLA}}</span> </h6>
          </div>
          <div class="col-md-2">
            <h6>Año: <span style="color: blue;">{{planilla.ANIO}}</span> </h6>
          </div>
          <div class="col-md-2">
            <h6>Mes: <span style="color: blue;">{{planilla.MES}}</span> </h6>
          </div>

      </div>

    </div>


  </div>
  <div class="app-modal-body">
    <div class="table-responsive">
      <table class="table table-hover table-primary">
        <thead style="color: white;background-color:black;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Concepto</th>
            <th scope="col" style="text-align: right;" >Ingreso</th>
            <th scope="col" style="text-align: right;" >Egreso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of listaDetallePlanilla ; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{detalle.CONCEPTO}}</td>
            <td style="text-align: right;">{{detalle.INGRESO  | number : '1.0-2' }}</td>
            <td style="text-align: right;">{{detalle.EGRESO  | number : '1.0-2' }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr style="text-align: right;">
            <td>TOTALES</td>
            <td></td>
            <td>{{suma | number : '1.2-2' }}</td>
            <td>{{sumaEgreso | number : '1.2-2'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</app-ui-modal>
