<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 bg-light">
      <form [formGroup]="ingresoForm">
        <div class="card-body">
          <img src="assets/images/infosweb.png" alt="" class="rounded mx-auto d-block">
          <h4 class="mb-3 f-w-400">AUTO-GESTION</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="feather icon-users"></i></span>
            </div>
            <input type="text" formControlName="usuario"  class="form-control" placeholder="">
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="feather icon-lock"></i></span>
            </div>
            <input type="password" formControlName="clave" class="form-control" placeholder="">
          </div>
          <button type="button" (click)="ingresar()" class="btn btn-block btn-primary mb-4">INGRESAR</button>
        </div>
        </form>
    </div>
  </div>

</div>




