
<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="ingresoForm">
            <img src="assets/images/infosweb.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">AUTO-GESTION</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="text" formControlName="usuario" class="form-control" placeholder="">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" formControlName="clave" class="form-control" placeholder="">
            </div>

            <button class="btn btn-block btn-primary mb-4" type="button" (click)="ingresar()">INGRESAR</button>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
