
<div class="row my-5 col-md-12">
</div>
<div class="row my-5 col-md-12">
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary" data-toggle="modal" data-toggle="modal" (click)="limpiar()" (click)="mySmallModalLabel.show()" >
      <i class="feather icon-plus-circle"></i>&nbsp;<strong>Agregar Cita</strong>
    </button>
  </div>

</div>



<div class="row my-1">


  <app-card cardTitle="Lista de citas" class="col-md-12 col-xl-12 bg-primary" [options]="false">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="bg-primary">
          <tr>
            <th scope="col">Tipo Accion</th>
            <th scope="col">Observacion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listadoClinina">
            <td>
              {{item.NOM_TIPOACCION}}
            </td>
            <td>
              {{item.OBSERVACION}}
            </td>
            <td>
              {{item.FECHA  | date: 'dd/MM/yyyy' : '+18'}}
            </td>
            <td>
              <span *ngIf="item.STATUS=='G'">Generado</span>
              <span *ngIf="item.STATUS !='G'" >Aprobado</span>
            </td>
          </tr>

        </tbody>
      </table>



    </div>

  </app-card>

</div>

















<app-ui-modal #mySmallModalLabel [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Ingreso Cita</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="mySmallModalLabel.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="registerAccionForm">
      <app-card cardTitle="Datos Accion" [options]="false">
        <div class="input-group mb-3">
          <label class="col-12">Empleado</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
          </div>
          <input type="text" disabled formControlName="empleado" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>



        <div class="input-group mb-3">
          <label class="col-12">Fecha Cita</label>

          <input type="text" [minDate]="minDate"  formControlName="fechaCita" ngbDatepicker #d1="ngbDatepicker" (focus)="d1.open()" name="date_start" class="form-control"/>

        </div>


        <div class="input-group mb-3" *ngIf="mostrarHora">
          <label class="col-12">Hora Cita: <strong>{{horas}}</strong></label>
          <button type="button" class="btn btn-info" (click)="agregarHora(7)">7</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(8)">8</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(9)" >9</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(10)">10</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(11)" >11</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(12)" >12</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(13)" >13</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(14)">14</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(15)">15</button>
          <button type="button" class="btn btn-info" (click)="agregarHora(16)">16</button>

        </div>

        <div class="input-group mb-3" *ngIf="mostrarHora">
          <label class="col-12">Minutos: <strong>{{minutos}}</strong></label>
          <button type="button" class="btn btn-info" (click)="agregarMinutos(0)">00</button>
          <button type="button" class="btn btn-info" (click)="agregarMinutos(15)">15</button>
          <button type="button" class="btn btn-info" (click)="agregarMinutos(30)">30</button>
          <button type="button" class="btn btn-info" (click)="agregarMinutos(45)">45</button>


        </div>

        <div class="input-group mb-3" >
          <strong>Hora-Minutos</strong>:<span class="text-primary"><strong>{{horaCompleta}}</strong></span>
        </div>

        <div class="input-group mb-3">
          <label class="col-12">Observacion</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-comments" aria-hidden="true"></i></span>
          </div>
          <textarea style = "text-transform:capitalize;" formControlName="observacion"  type="text" rows="4" cols="30" class="form-control" placeholder=""
            aria-describedby="basic-addon1">
          </textarea>
        </div>



        <div class="card">

          <div class="card-footer">
            <button type="button" class="btn btn-primary sm" (click)="guardar()" (click)="mySmallModalLabel.hide()">
              <i class="fa fa-check" aria-hidden="true"></i> &nbsp;Guardar
            </button>
          </div>
        </div>

      </app-card>
    </form>
  </div>
</app-ui-modal>











